@import "tailwindcss";

@plugin "daisyui" {
  themes: emerald --default, night --prefersdark;
}

.react-flow__background {
  background-color: var(--color-base-100);
}

.react-flow__node {
  color: var(--color-base-content);
  background-color: var(--color-base-200);
  border-radius: var(--radius-box);
  padding: 6px;
  border: 0.15em solid var(--color-base-content);

  /* smooth border-color transitions and opacity changes for animations */
  transition: border-color 160ms ease, opacity 220ms ease;
}

.react-flow__node:hover {
  border-color: var(--color-primary);
  /* background-color: var(--color-base-content); */
  /* color: var(--color-base-200); */
}

.react-flow__node:active {}

.react-flow__node.removing {
  opacity: 0;
  transform: scale(0.95);
}

.react-flow__node.selected {
  border-color: var(--color-primary);
}

.react-flow__handle {
  border-radius: 100%;
  background-color: var(--color-base-content);
  width: 15px;
  height: 15px;
}

.react-flow__edge-path {}